# Created by https://www.gitignore.io

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.freeze
.stack-work
stack.yaml.lock

### Snap ###
/snap/.snapcraft/
/stage/
/parts/
/prime/
*.snap
/dist-newstyle/

### misc ###
/shellcheck.1

# h2r compiler
compiler/build/
compiler/core-json/
compiler/library-json/
target/
compiler/h2r-plugin/dist-newstyle/
compiler/matrix/
compiler/conformance/
