# Created by https://www.gitignore.io

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.freeze
.stack-work
stack.yaml.lock

### Snap ###
/snap/.snapcraft/
/stage/
/parts/
/prime/
*.snap
/dist-newstyle/

### misc ###
/shellcheck.1

target/

# Locally built Haskell oracle binary (also where rust.yml stages it).
/.cache/

# cargo-mutants working directories (the report is read, not kept).
/mutants.out/
/mutants.out.old/
